$dropdown-width: 22.5rem;

.dropdown {
  height: 2.125rem;
  overflow: hidden;
  width: $dropdown-width;
  position: relative;
  display: inline-block;
  border-radius: 0px 0.2rem 0.2rem 0;

  &:after {
    content: '\f107';
    font-family: 'FontAwesome';
    color: $white;
    position: absolute;
    right: 0;
    top: 0;
    background: $light-green;
    z-index: 1;
    text-align: center;
    font-size: 1.5rem;
    width: 2.6rem;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    line-height: 2rem;
  }

  &__select {
    background: $light-grey;
    border: none;
    font-size: 0.875rem;
    height: 2.125rem;
    padding: 0.3125rem;
    width: $dropdown-width;
  }
}

@media screen and (max-width: 850px) {
  .dropdown {
    width: 12rem;
    &__select {
      width: 12rem;
    }
  }
}
