include ../profile/profile
include ../chat/chat
include ../../components/standard-heading/standard-heading

mixin contact({profiles = []} = {})
  .contact
    +standard-heading({text: 'Contacts:'})
    .contact__content
      .contact__profile-container
        each profile in profiles
          .contact__profile
            +profile(profile)
  
      .contact__chat
        +chat(profiles[0])