.checkmark {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    line-height: 180%;

    input {
        display: none;
        cursor: pointer;
    }

    &:hover input ~ &__icon {
        background-color: #ccc;
    }

    &:hover input:checked ~ &__icon {
        background-color: lighten($light-green, 10);
    }

    input:checked ~ &__icon {
        background-color: $light-green;
    }

    input:checked ~ &__icon:after {
        border-color: white;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 27px;
        width: 27px;
        background-color: #eee;
        border-radius: 50%;
    
        &:after {
            content: "";
            position: absolute;
            border: solid;
            border-color: $medium-grey;
        }
    }
    
    &__icon:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
  
