.chart {
  display: inline-block;
  position: relative;
  text-align: center;

  &__text {
    font-size: 3.125rem;
    color: $black;
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
    margin: 0;
  }
}

.pie {
  display: inline-block;
}

@media screen and (max-width: 31.25rem) {
  .chart__text {
    font-size: 1.5rem;
  }

  .chart,
  .pie {
    canvas {
      width: 3.75rem;
      height: 3.75rem;
    }
  }
}
