mixin chart({value = 0, size = 120, fill = "#E75637", emptyFill = '#f7ecdb', thickness = 7, startAngle = -Math.PI/2} = {})
  .chart.js-chart(data-value = value, data-size = size, data-fill = {color:`${fill}`}, data-empty-fill = [emptyFill], data-thickness = thickness, data-start-angle = startAngle)
    .chart__text
