@import '../../components/bubble/mixins';

.comment {
  &__name {
    font-weight: bold;
    padding-right: 1rem;
  }

  &__rating {
    color: #800000;
    margin-top: 1rem;
    text-align: right;
    font-weight: bold;
  }

  %comment-bubble {
    padding: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    text-align: left;
  }

  .bubble_comment-orange {
    @extend %comment-bubble;
    @include set-bubble-color($light-orange, right);
  }

  .bubble_comment-green {
    @extend %comment-bubble;
    @include set-bubble-color($light-green, right);

    .comment__rating {
      color: $medium-green;
    }
  }
}

@media screen and (max-width: 50rem) {
  .comment {
    font-size: 0.75rem;
  }
}
