@import '../../components/bubble/mixins';

.comment {
  display: inline-block;

  &__name {
    font-weight: bold;
    padding-right: 1rem;
  }

  &__rating {
    margin-top: 1rem;
    text-align: right;
    font-weight: bold;

    &_low {
      color: #800000;
    }

    &_high {
      color: $medium-green;
    }
  }
}
