include ../../components/bubble/bubble

mixin comment({username = 'Anonymous', message = 'Text', rating = 100} = {})
  article.comment
    +bubble({direction: 'right', modifier: rating < 60 ? 'negative-comment' : 'positive-comment'})
      | #{message}
      div(class = rating < 60 ? 'comment__rating comment__rating_low' : 'comment__rating comment__rating_high') Rated #{rating}
      .comment__name #{username}