include ../../components/bubble/bubble

mixin comment({username = 'Anonymous', message = 'Text', rating = 100} = {})
  article.comment
    +bubble({direction: 'right', modifier: rating < 60 ? 'comment-orange' : 'comment-green'})
      | #{message}
      .comment__rating Rated #{rating}
      .comment__name #{name}