{
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["eslint-plugin-prettier"],
    "env": {
        "browser": true,
        "jquery": true
    },
    "rules": {
        "linebreak-style":"off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    }
}