extends ../../layout

block head
  title UI

block content
  .ui
    .ui__wrapper
      h2 STANDARD BUTTONS
      .ui__standard-buttons
        +standard-button({size:'small', color:'green', text:'button'}) 
        +standard-button({size:'big', color:'green', text:'button'}) 
        +standard-button({size:'big', color:'orange', text:'button'})
        +standard-button({size:'small', color:'orange', text:'button'})
      
      h2 ARROW BUTTONS
      .ui__arrow-buttons
        +arrow-button({direction:'left', disabled:true})
        +arrow-button({direction:'right'})
    
      h2 PERCENTAGES/PIE CHART
      .ui__percentages
        +chart
        .pie
    
      h2 SLIDERS
      .ui__slider
        +slider({id:'slider'})
      +steps-slider({id:"steps-slider"})
    
      h2 STAGES
      +stage
    
      h2 FORM ELEMENTS
      .ui__row
        .ui__column
          +message-form
          h2 SEARCH/DROP DOWNS
          .ui__search
            +search
            +dropdown
        .ui__column
          h2 TOGGLES
          div
            +toggle({name:'test', value:'test'})
          h2 TICK BOXES
          h3 Radio
          +checkmark({name:'test', type:'radio', value:'ok'})
          +checkmark({name:'test', type:'radio', value:'not ok'})
          h3 Checkbox
          +checkmark({name:'meme', type:'checkbox', label:'test'})
            
          h2 PROFILES
          +profile({
            type:'grey',
            name:'Ricardo Milos', 
            occupation:'FleXx CEO', 
            src:'images/ricardo.jpg'
          })
          +profile({
            type:'green',
            name:'Orang', 
            occupation:'Health Inspector', 
            src:'images/orang.jpg'
          })
    
      h2 NEWS & EVENTS
      .ui__row
        .ui__column.ui__column_align-right
          +news({
            image:'images/animal.jpg', 
            title:'Beta Uprising', 
            date:'1 April 2019',
            text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.'
          })
  
        .ui__column.ui__column_align-left
          +event-news({
            image:'images/bear.jpg', 
            title:'Meme funeral', 
            day:'24', 
            month:'Feb',
            text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
          })
    
      h2 LOCATION
      +map({id:'map', title:'Meet us!', street:'1259 California st', city:'san francisco, ca'})
      .ui__row
        .ui__column
          h2 CALENDAR
          .calendar
        .ui__column
          h2 MESSAGING
          +chat({name:'Ricardo Milos', image:'images/ricardo.jpg'})
      h2 VIDEO
      .ui__video
        +video({src:'videos/bunny.mp4'})
        