extends ../../layout

block head
  title UI

block content
  h2 STANDARD BUTTONS
  .standard-buttons
    +standard-button({size:'small', color:'green'}) 
      | button
    +standard-button({size:'big', color:'green'}) 
      | button
    +standard-button({size:'big', color:'orange'})
      | button
    +standard-button({size:'small', color:'orange'})
      | button
  
  h2 ARROW BUTTONS
  .arrow-buttons
    +arrow-button({direction:'left', disabled:true})
    +arrow-button({direction:'right'})
  h2 PERCENTAGES/PIE CHART
  .percentages
    +chart
    .pie
  h2 SLIDERS
  .sliders
    +slider-1
    .slider-2
  h2 STAGES
  +stage('stage-test')
  h2 FORM ELEMENTS
  .row
    .left
      +message-form
      h2 SEARCH/DROP DOWNS
      #search-cont
        +search
        +dropdown
    .right
      h2 TOGGLES
      div
        +toggle({name:'test', value:'test'})
      h2 TICK BOXES
      form
        h3 Radio
        #radiobuttons
          +checkmark({name:'test', type:'radio', value:'ok', label:'ok'})
          br
          +checkmark({name:'test', type:'radio', value:'not ok', label:'not ok'})
          br
        h3 Checkbox
        +checkmark({name:'meme', type:'checkbox', label:'test'})
        
      h2 PROFILES
      +profile('type-1', {
        name:'Ricardo Milos', 
        occupation:'FleXx CEO', 
        src:'images/ricardo.jpg'
      })
      +profile('type-2', {
        name:'Orang', 
        occupation:'Health Inspector', 
        src:'images/orang.jpg'
      })
  h2 NEWS & EVENTS
  .row
    .left
      +news-1({
        image:'images/animal.jpg', 
        title:'Beta Uprising', 
        date:'1 April 2019'
      })
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
    .right
      +news-2({
        image:'images/bear.jpg', 
        title:'Meme funeral', 
        day:'24', 
        month:'Feb'
      })
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  h2 LOCATION
  +map('map', 'Meet us!', '1259 California st', 'san francisco, ca')
  .row
    .left
      h2 CALENDAR
      .calendar
    .right
      h2 MESSAGING
      +chat({name:'Ricardo Milos', image:'images/ricardo.jpg'})
  h2 VIDEO
  #video
    +video('videos/bunny.mp4')
    br
    