extends ../../layout

block head
  title UI

block content
  article.ui
    h1 UI-kit
    .ui__content
      h2.standard-heading STANDARD BUTTONS
      .ui__button-content
        .ui__button-row
          +standard-button({size:'small', color:'green', text:'button'}) 
          +standard-button({size:'big', color:'green', text:'button'}) 
          +standard-button({size:'big', color:'orange', text:'button'})
          +standard-button({size:'small', color:'orange', text:'button'})
        .ui__button-row
          +standard-button({size:'small', color:'green', text:'button'}) 
          +standard-button({size:'big', color:'green', text:'button'}) 
          +standard-button({size:'big', color:'orange', text:'button'})
          +standard-button({size:'small', color:'orange', text:'button'})
        .ui__button-row
          +standard-button({size:'small', color:'green', text:'button'}) 
          +standard-button({size:'big', color:'green', text:'button'}) 
          +standard-button({size:'big', color:'orange', text:'button'})
          +standard-button({size:'small', color:'orange', text:'button'})
      
      h2.standard-heading ARROW BUTTONS
      .ui__arrow-button-content
        +arrow-button({direction:'left', disabled:true})
        +arrow-button({direction:'right'})
    
      h2.standard-heading PERCENTAGES / PIE CHART
      .ui__percentage-content
        +chart({id:'chart-1'})
        +chart({id:'chart-2'})
        +chart({id:'chart-3'})
        +chart({id:'chart-4'})
        .pie
    
      h2.standard-heading.ui__slider-title SLIDERS
      .ui__slider-content
        .ui__slider
          +slider({id:'slider', value:40})
        .ui__steps-slider  
          +steps-slider({id:"steps-slider"})
    
      h2.standard-heading STAGES
      .ui__stage-content
        +stage
    
      h2.standard-heading FORM ELEMENTS
      .ui__row
        .ui__column
          .ui__message-form
            +message-form
          h2.standard-heading SEARCH / DROP DOWN
          .ui__search-content
            .ui__search
              +search
            .ui__search
              +search({value:'!invalid!'})
            .ui__search
              +dropdown({options:['This is option 1', 'This is option 2', 'This is option 3', 'This is option 4']})
        .ui__column
          h2.standard-heading.ui__toggle-title TOGGLES
          .ui__toggle-content
            .ui__toggle
              +toggle({name:'test', value:'test'})
            .ui__toggle
              +toggle({name:'test', checked:true, value:'test'})
          h2.standard-heading TICK BOXES
          .ui__checkmark-content
            .ui__checkmark
              +checkmark({name:'test', type:'radio', value:'ok', checked:true})
            .ui__checkmark
              +checkmark({name:'test', type:'radio', value:'not ok'})
            
          h2.standard-heading USER PROFILE
          .ui__profile-container
            .ui__profile
              +profile({
                type:'grey',
                name:'Ricardo Milos', 
                occupation:'FleXx CEO', 
                src:'images/ricardo.jpg'
              })
            .ui__profile
              +profile({
                type:'green',
                name:'Orang', 
                occupation:'Health Inspector', 
                src:'images/orang.jpg'
              })
    
      h2.standard-heading.ui__news-title NEWS & EVENTS
      .ui__news-content
        .ui__news-item
          +news({
            image:'images/animal.jpg', 
            title:'Beta Uprising', 
            date:'1 April 2019',
            text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.'
          })

        .ui__news-item
          +event-news({
            image:'images/bear.jpg', 
            title:'Meme funeral', 
            day:'24', 
            month:'Feb',
            text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
          })
    
      h2.standard-heading.ui__map-title LOCATION
      .ui__map-content
        +map({id:'map', title:'Meet us!', street:'1259 California st', city:'san francisco, ca'})
      .ui__row
        .ui__column
          h2.standard-heading CALENDAR
          .ui__calendar
            .calendar
        .ui__column
          h2.standard-heading MESSAGING
          .ui__chat
            +chat({name:'Ricardo Milos', image:'images/ricardo.jpg'})
      h2.standard-heading.ui__video-title VIDEO
      .ui__video
        +video({src:'videos/bunny.mp4'})
        