.ui {
  text-align: center;

  &__wrapper {
    width: 80%;
    margin: auto;
  }

  &__row {
    width: 100%;
  }

  &__row::after {
    content: '';
    clear: both;
    display: table;
  }

  &__column {
    float: left;
    width: 50%;

    &_align-left {
      text-align: left;
    }

    &_align-right {
      text-align: right;
    }
  }

  &__standard-buttons .button {
    margin-left: 2rem;
  }

  &__arrow-buttons .arrow-button {
    margin-left: 2rem;
  }

  &__percentages .pie,
  &__percentages .circle {
    margin-left: 2rem;
  }

  &__slider {
    display: inline-block;
    margin-right: 3rem;
  }

  &__radiobutton {
    display: inline-block;
  }

  &__search {
    margin-bottom: 2rem;
  }

  &__news-1,
  &__news-2,
  &__map,
  &__chat,
  &__message-form {
    margin: auto;
  }

  &__video {
    margin: auto;
  }
}

@media screen and (max-width: 60rem) {
  .ui {
    &__column {
      float: none;
      width: 100%;
    }
  }
}
