include ../../components/stage/stage
include ../../components/dropdown/dropdown
include ../../components/checkmark/checkmark
include ../../components/toggle/toggle
include ../../components/button/button
include ../../components/standard-heading/standard-heading

mixin order({menu = {}, special:{name = "Special sauce:", toggle = {}} = {}, stage, crustOptions = []} = {})
  .order
    .order__title
      +standard-heading({text: 'Order'})
    .order__stage
      +stage(stage)
  
    form.order__form
      .order__dropdown
        +dropdown(menu)
    
      .order__options
        .order__sauce #{name}
          +toggle(toggle)
  
        .order__crust
          each option in crustOptions
            +checkmark(option)
  
      .order__address
        input.order__input(name = 'address', placeholder = 'Address')
  
      .order__submit
        +button({type: 'submit', text: 'SUBMIT', size: "small", color: "green"})
