.order {
  width: 100%;

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__form {
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
  }

  &__sauce {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 11.5rem;
  }

  &__crust {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11.5rem;
  }

  &__input {
    font-size: 0.9rem;
    border: none;
    padding: 0.4375rem;
    padding-left: 0.9375rem;
    background-color: #d2d2d2;
    max-width: 11.25rem;
  }

  &__options,
  &__address,
  &__submit {
    visibility: hidden;
  }
}

@media screen and (max-width: 55rem) {
  .order {
    &__form {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__dropdown,
    &__options,
    &__address,
    &__submit {
      margin-bottom: 5%;
    }
  }
}
