.order {
  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__form {
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
  }

  &__sauce {
    margin-bottom: 1rem;
  }

  .toggle {
    margin-left: 1rem;
  }

  .checkmark {
    margin-right: 1rem;
  }

  &__address {
    input {
      max-width: 11.25rem;
    }
  }

  &__input {
    background-color: #d2d2d2;
    border: none;
    padding: 0.4375rem;
    padding-left: 0.9375rem;
    font-size: 0.9rem;
  }

  &__options,
  &__address,
  &__submit {
    visibility: hidden;
  }
}

@media screen and (max-width: 51.25rem) {
  .order {
    &__form {
      margin-top: 2%;
      display: block;
    }

    .dropdown,
    &__options,
    &__address,
    &__submit {
      margin-bottom: 5%;
    }
  }
}
