.message-form {
    
    width: 322px;
    text-align: left;

    input, textarea {
        margin-bottom: 3%;
    }

    textarea {
        width: 300px;
        margin-bottom: 2%;
    }

    input[type=submit] {
        display: block;
        margin-left:auto; 
        margin-right:0;
    }

    input[type=text] {
        width: 60%;
    }

    .bubble {
        display: none;
        height: 2.5em;
        width: 6em;
        text-align: center;
        font-size: 0.9em;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        line-height: 240%;
        margin-left: 0.8em;
    }

}

.error-bubble {
    @include set-bubble-color($light-orange, left);
}

.okay-bubble {
    @include set-bubble-color($light-green, left);
}