.message-form {
    
    width: 322px;
    text-align: left;
    font-family: 'Conv_Myriad Pro Light';

    input, textarea {
        margin-bottom: 3%;
    }

    textarea {
        width: 300px;
        margin-bottom: 2%;
        font-family: 'Conv_Myriad Pro Light';
    }

    input[type=submit] {
        display: block;
        margin-left:auto; 
        margin-right:0;
    }

    input[type=text] {
        width: 60%;
    }

}

%info-bubble {
    display: inline-block;
    visibility: hidden;
    height: 2.5em;
    width: 6em;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    line-height: 240%;
    margin-left: 0.8em;
}

.error-bubble {
    @extend .left-bubble;
    @extend %info-bubble;
    @include set-bubble-color($light-orange, left);
}

.okay-bubble {
    @extend .left-bubble;
    @extend %info-bubble;
    @include set-bubble-color($light-green, left);
}