include ../../components/buttons/standard-button/standard-button
include ../../components/avatar/avatar
include ../../components/bubble/bubble
include ../../components/input/textarea/textarea

mixin chat(data)
  .chat
    .chat__name #{data.name}
    .chat__header
    .chat__avatar
      +avatar(data.image)
      i(class='fa fa-comments')
      i(class='fa fa-camera')
    .chat__content
      +bubble('top')
        | Hi there! I am here to answer all your questions!
      +input-textarea('chat-reply', {placeholder:'What starts with "W" and ends with "T"?', rows:3})
      +standard-button('big', 'green')
        | reply
