include ../../components/standard-button/standard-button
include ../../components/avatar/avatar
include ../../components/bubble/bubble

mixin chat({name = 'John Doe', image = ''} = {})
  article.chat
    .chat__name #{name}
    .chat__header
    .chat__avatar
      +avatar({src:image})
      i(class='fa fa-comments')
      i(class='fa fa-camera')
    .chat__content
      +bubble({direction:'top', modifier:'message'})
        | Hi there! I am here to answer all your questions!
      textarea.chat__textarea(name='chat-reply', placeholder='What starts with a "W" and ends with a "T"?', rows=3)
      +standard-button({size:'big', color:'green', text:'reply'})