.chat {
  $avatar-size: 7.5rem;
  display: inline-block;
  border-radius: 0.4rem;
  overflow: hidden;
  text-align: center;
  max-width: 22.5rem;

  i {
    font-size: 1.6rem;
    color: $dark-grey;
  }

  &__name {
    padding: 8%;
    font-size: 2.5rem;
    background-color: $light-green;
    color: $white;
  }

  &__header {
    height: 2.625rem;
    background-color: darken($light-green, 20%);
  }

  &__avatar-container {
    position: relative;
    height: 1.25rem;
    background-color: $light-grey;
    padding: 5%;
    padding-bottom: 0;
  }

  &__avatar {
    max-width: $avatar-size;
    height: $avatar-size;
    position: absolute;
    top: -$avatar-size/2;
    left: 33%;
  }

  &__content {
    background-color: $light-grey;
    padding: 10%;
  }

  &__textarea {
    display: block;
    font-family: inherit;
    font-size: inherit;
    padding: 0.625rem;
    resize: none;
    background-color: $light-grey;
    border: 0.1875rem solid $white;
    border-radius: 0.4rem;
    margin-bottom: 10%;
    width: 90%;
  }

  &__button {
    height: 2.5rem;
  }

  .fa-comment,
  .fa-camera {
    margin-top: 0.3rem;
    margin-left: 0.5rem;
  }

  .fa-comment {
    float: left;
  }
  .fa-camera {
    float: right;
  }

  @media screen and (max-width: 50rem) {
    &__textarea {
      font-size: 1rem;
    }

    &__content {
      font-size: 0.75rem;
    }
  }
}
