include ../../components/buttons/standard-button/standard-button
include ../../components/avatar/avatar
include ../../components/bubble/bubble
include ../../components/input/textarea/textarea

mixin chat(data)
  .chat
    .chat__name #{data.name}
    .chat__header
    .chat__avatar
      +avatar(data.image)
      i(class='fa fa-comments')
      i(class='fa fa-camera')
    .chat__content
      +bubble('top')
        | Hi there! I am here to answer all your questions!
      +input-textarea('chat-reply', {placeholder:'Do you serve the Big Sausage Pizza?', rows:5})
      +standard-button('big', 'green')
        | reply
