//base class
.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    border: solid 2px;
    border-left: solid 3px;
    text-transform: uppercase;
}

//setters
@mixin set-button-color($active, $passive) {
    color: $active;
    background-color: $passive;
    border-color: $active;
    box-shadow: 0px 5px 0px $active;

    &:hover {
        color: $passive;
        background-color: $active;
    }
    &:active {
        color: $passive;
        background-color: $active;
        box-shadow: none;
    }
}

@mixin set-button-size($width, $height) {    
    font-size: 1.4vw;
    border-radius: 8px;
    width: $width;
    height: $height;
}

//helper classes
%big-button {
  @include set-button-size(224px, 70px);
}

%small-button {
  @include set-button-size(156x, 46px);
}

%orange-button {
  @include set-button-color($light-orange, $white); 
}

%green-button {
  @include set-button-color($light-green, $white);
}

//"fully applied" classes
.big-green-button {
  @extend %big-button;
  @extend %green-button;
}

.small-green-button {
  @extend %small-button;
  @extend %green-button;
}

.big-orange-button {
  @extend %big-button;
  @extend %orange-button;
}

.small-orange-button {
  @extend %small-button;
  @extend %orange-button;
}

[ripple] {
    position: relative;
    overflow: hidden;
}
[ripple] .ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[ripple] .ripple--container span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  background-color: #fff;
  animation: ripple 1000ms;
}
@-moz-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-o-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
  
  