.circle {
  display: inline-block;
  position: relative;
  text-align: center;

  &__text {
    display: inline-block;
    font-size: 3.125rem;
    color: $black;
    position: absolute;
    top: 25%;
    text-align: center;
    left: 30%;
    margin: 0;
  }
}

.pie {
  display: inline-block;
}

@media screen and (max-width: 31.25rem) {
  .circle, .pie {
    canvas {
      width: 3.75rem;
      height: 3.75rem;
    }
  }

  .circle {
    &__text {
      font-size: 100%;
    }
  }
}