extends ../../layout

mixin comment(name, message, rating)
  .comment
    +bubble(rating < 60 ? 'right' : 'right bubble_green')
      | #{message}
      .comment__rating Rated #{rating}
      .comment__name #{name}

block head
  title Feedback

block content
  h2 Rate our service:
  #rate-cont
    #left
      +message-form
        +slider-1('rating')
    #right
      +comment('sadBoy', 'I just want my tendies.', 0)
      +comment(
        'Ash Williams', 
        'Good pizza and all, but your menu lacks variety. Hopefully it\'ll only get better with time.', 
        60)
      +comment(
        'TENDY DESTROYER',
        'BRING BACK THE NUGGETS OR FACE THE CONSEQUENCES. I AM DEAD SERIOUS.',
        0)
      +comment(
        'yogaBro1989',
        'Great pizza place and delivery is always just in time!',
        85)
      +comment(
        'crikey',
        'I like your pizza, but that bear is just creepy. Do you really need it?',
        70
      )
