extends ../../layout

include ../../composite/feedback/feedback

block head
  title Feedback

block content
  main.content
    +feedback({comments: [
                {
                  username:'sadBoy', 
                  message:'I just want my tendies.', 
                  rating:0
                }, 
                {
                  username:'Ash Williams', 
                  message:'Good pizza and all, but your menu lacks variety. Hopefully it\'ll only get better with time.', 
                  rating:60
                },
                {
                  username:'TENDY DESTROYER',
                  message:'BRING BACK THE NUGGETS OR FACE THE CONSEQUENCES. I AM DEAD SERIOUS.',
                  rating:0},
                {
                  username:'yogaBro1989',
                  message:'Great pizza place and delivery is always just in time!',
                  rating:85},
                {
                  username:'crikey',
                  message:'I like your pizza, but that bear is just creepy. Do you really need it?',
                  rating:70
                }
              ]})
    