.rating {
  &__title {
    text-align: left;
  }

  &__content {
    display: flex;
  }

  &__form {
    margin-right: 12%;
  }

  &__comment-container {
    overflow: auto;
    max-width: 40%;
    text-align: right;
  }
}

@media screen and (max-width: 50rem) {
  .rating {
    &__title {
      text-align: center;
    }

    &__content {
      flex-direction: column;
    }

    &__comments {
      max-width: 100%;
      margin-top: 5%;
    }
  }
}
