@import '../../partials/mixins';
@import '../../partials/defaults';

#content {
    text-align: left;

    #options {
        width: 322px;
        margin-bottom: 5%;
    }

    .dropdown {
        margin-bottom: 2%;
    }

    #rate-cont {
        display: flex;

        #left {
            margin-right: 10%;
        }

        #right {
            overflow: auto;
            display: flex;
            width: 40%;
            flex-wrap: wrap;
            justify-content: right;

            .bubble {
                padding: 1em;
                margin-bottom: 1em;

                .rating {
                    color: #800000;
                    margin-top: 1em;
                    text-align: right;
                    font-family: 'Conv_Myriad Pro Bold';
                }
            }

            .green-bubble {
                @include set-bubble-color($light-green, right);

                .rating {
                    color: $medium-green;
                }
            }
        }
    }
}
