include ../../bubble/bubble

mixin slider-1(value=0)
  .slider-1
    +bubble('bottom-bubble', {
      style:{
        width:'36px', 
        height:'24px'
      }
    })
    input(type="range", min="0", max="100", value=value)
  