$arrow-button-border: 3px;

.arrow-button {
    @include set-arrow-size(60px);
    @include set-arrow-color($white, $light-green);
    cursor: pointer;
}

.arrow-button_disabled {
    @include set-arrow-size(60px);
    @include set-disabled-color($white, $light-grey);
}

.arrow-button_left {
    i {
        margin-left: 14%;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}

.arrow-button_right {
    i {
        margin-right: 14%;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

@media screen and (max-width: 500px) {
    .arrow-button {
        @include set-arrow-size(30px);
        line-height: 26px;
        @include set-arrow-color($white, $light-green);
    }

    .arrow-button_disabled {
        @include set-arrow-size(30px);
        line-height: 26px;
        @include set-disabled-color($white, $light-grey);
    }
}