$arrow-button-border: 0.1875rem;

.arrow-button {
  @include set-arrow-size(3.75rem);
  @include set-arrow-color($white, $light-green);
  cursor: pointer;
}

.arrow-button_disabled {
  @include set-arrow-size(3.75rem);
  @include set-disabled-color($white, $light-grey);
}

.arrow-button_left {
  i {
    margin-left: 14%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

.arrow-button_right {
  i {
    margin-right: 14%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@media screen and (max-width: 31.25rem) {
  .arrow-button {
    @include set-arrow-size(1.875rem);
    line-height: 1.875rem;
    @include set-arrow-color($white, $light-green);
  }

  .arrow-button_disabled {
    @include set-arrow-size(1.875rem);
    line-height: 1.875rem;
    @include set-disabled-color($white, $light-grey);
  }
}