extends ../../layout

include ../../composite/pizza/pizza

block head
  title Gallery

block content
  +pizza({
    name: 'pepperoni',
    display: 'block',
    src: 'images/pepperoni.jpg'
  })