include ../../components/input/text/text

mixin search()
  .search
    .search__input
      +input-text({name:'search', placeholder:'Search'})
    button(type='submit').search__button
      i(class='fa fa-search')