.search {
  display: inline-block;

  button {
    background: $light-orange;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0.7rem;
    padding-top: 0.65rem;
    padding-bottom: 0.6rem;
    i {
      font-size: 0.875rem;
      color: $white;
    }
  }

  input {
    width: 18.4375rem;
    padding: 0.6rem;
    font-size: 0.9rem;
    padding-left: 1rem;
  }
}
