.search {
  display: inline-block;

  button {
    background: $light-orange;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0.8em;
    padding-top: 0.7em;
    padding-bottom: 0.65em;
    i {
      font-size: 14px;
      color: $white;
    }
  }

  input {
    width: 295px;
    padding: 0.6em;
    font-size: 0.9em;
    padding-left: 1em;
  }
}