.search {
    @include menu-item($light-orange, 14px);

    button {
        padding: 0.8em;
        padding-top: 0.7em;
        padding-bottom: 0.65em;
    }

    input {
        width: 295px;
        padding: 0.6em;
        font-size: 0.9em;
        padding-left: 1em;
    }
}