#location {
    margin: auto;
}

#news {
    display: flex;
    justify-content: center;

    &:first-child {
        margin-right: 2%;
    }
}

#videos {
    .video {
        margin: auto;
    }

}