extends ../../layout

block head
  title Homepage

block content
  h1 Welcome!

  +map('location', 'Meet us!', '1259 California st', 'san francisco, ca')

  h1 Hottest news
  #news
    +news-1({
        image:'images/animal.jpg', 
        title:'Cheesy picket', 
        date:'1 April 2019', 
      })
      | Angry mob demands Cheesy Nuggets to be back!
    +news-2({
      image:'images/bear.jpg', 
      title:'Meet our weird mascot!', 
      day:'22', 
      month:'April'
    })
      | Billy Bob will make his appearance on this very date! 

  h1 
    | Check out the 
    a(href='https://www.youtube.com/watch?v=8RamCgvJKKE') review
    |  of our latest offer!
  #videos
    +video('/videos/review.mp4')