@import '../../partials/mixins';
@import '../../partials/defaults';
  
#place-info {
    .map {
        margin: auto;
        margin-bottom: 5%;
    }

    text-align: left;
    
    #date-info {
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        justify-content: space-between;

        .calendar {
            margin-right: 5%;
        }

        #date-text {
            padding: 2em;
            padding-top: 5%;

            #button-cont {
                margin-top: 7%;
                text-align: center;
            }
        }
    }
}

#news {
    display: flex;
    justify-content: center;

    .news-1 {
        margin-right: 2%;
    }
}

#videos {
    .video {
        margin: auto;
    }

}