@import '../../partials/mixins';
@import '../../partials/defaults';

#place-info {
    display: flex;
    justify-content: space-even;

    .map {
        width: 800px;
    }
}

#news {
    display: flex;
    justify-content: center;

    .news-1 {
        margin-right: 2%;
    }
}

#videos {
    .video {
        margin: auto;
    }

}