.message-form {
  display: inline-block;
  max-width: 22.5rem;
  text-align: left;
  font-family: $font;
  padding-bottom: 0.3rem;

  &__extra-inputs {
    margin-bottom: 0.8rem;
  }

  &__input,
  &__textarea {
    font-size: 0.8rem;
    font-family: inherit;
    margin-bottom: 4.5%;
    border-radius: 0.2rem;
  }

  &__input {
    width: 100%;
    background-color: #d2d2d2;
    border: none;
    padding: 0.5rem;
    padding-left: 0.9375rem;
    font-size: 0.9rem;
  }

  &__bubble {
    margin-left: 0.3rem;
  }

  &__textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2%;
    font-family: inherit;
    font-size: 1rem;
    background-color: #d2d2d2;
    border: none;
    padding: 1rem;
    resize: none;
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
  }

  &__name,
  &__email {
    display: flex;
  }
}
