include ../message-form/message-form
include ../slider/slider
include ../comment/comment
include ../../components/standard-heading/standard-heading

mixin feedback({comments = []} = {})
  .feedback
    +standard-heading({text: 'Rate our service:'})
    .feedback__content
      .feedback__form
        +message-form
          +slider({name:'feedback'})
      .feedback__comment-container
        each comment in comments
          .feedback__comment
          +comment(comment)