.index {
  width: 80%;
  text-align: center;

  &__news-container {
    display: flex;
    justify-content: center;
  }

  &__news-item {
    margin: 1rem;
  }

  &__place-info {
    text-align: left;
  }

  &__map {
    margin-bottom: 5%;
    text-align: center;
  }

  &__date {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }

  &__calendar {
    margin-right: 5%;
    margin-bottom: 5%;
  }

  &__date-description {
    padding: 2rem;
  }

  &__order-button {
    margin-top: 7%;
    text-align: center;
  }

  &__video {
    margin: auto;
  }

  &__link {
    text-decoration: none;
    color: #006000;
  }

  &__link:hover {
    color: #008500;
  }
}

@media screen and (max-width: 47.5rem) {
  .index {
    width: 100%;

    &__news-container {
      display: block;
    }

    &__news,
    &__event-news {
      display: block;
      margin: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    &__date {
      display: block;
      text-align: center;
      width: 100%;
    }

    &__date-description {
      text-align: left;
      padding: 0.5rem;
    }
  }
}
