include ../news/news
include ../../components/video/video
include ../../components/map/map
include ../../components/button/button
include ../../components/datepicker/datepicker
include ../../components/standard-heading/standard-heading

mixin index({news = {}, eventNews = {}, location = {}, video = {}} = {})
  .index
    +standard-heading({text: 'Hottest news'})
    .index__news-container
      .index__news-item
        +news(news)
      .index__news-item
        +news(eventNews)
    +standard-heading({text: 'Plan your visit!'})
    .index__place-info
      .index__map
        +map(location)
      .index__date
        .index__calendar
          +datepicker
        .index__date-description
          | The first step in any flexbox layout is to create a flex container. To do that, set the display property to flex. In Safari, you will still have to use the -webkit prefix.
        .index__order-button
          a(href = 'order.html')
            +button({size:'big', color:'orange', text:'order now!'})
    +standard-heading({text: 'Check out the review of our latest offer!'})
    .index__video
      +video(video)