$arrow-button-border: 3px;

.arrow-button {
    @include set-arrow-size(50px);
    @include set-arrow-color($white, $light-green);
}

.disabled-arrow-button {
    @include set-arrow-size(50px);
    @include set-disabled-color($white, $light-grey);
}

.left-arrow {
    i {
        margin-left: 14%;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}

.right-arrow {
    i {
        margin-right: 14%;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}