//set-arrow-size overrides it
$arrow-length: 7px;
$arrow-button-border: 3px;

@mixin set-arrow-size($button-size) {
    @include circle($button-size);
    $arrow-length: $button-size*0.14;
    $arrow-width: $button-size*0.08;

    line-height: $button-size + $arrow-length + $arrow-width;
    text-align: center;
    display: inline-block;
    margin: $arrow-button-border;
    
    i {
        border: solid;
        border-width: 0 $arrow-width $arrow-width 0;
        display: inline-block;
        padding: $arrow-length;
    }
    
}

@mixin set-arrow-color($def:$white, $hover:$light-grey, $active:$light-green) {
    background: $def; 
    box-shadow: 0 0 0 $arrow-button-border $active;

    i {
        border-color: $active;
    }

    &:hover {
        background: $hover; 
        box-shadow: 0 0 0 $arrow-button-border $hover;
    
        i {
            border-color: $def;
        }
    }

    &:active {
        background: $active;
        box-shadow: 0 0 0 $arrow-button-border $active;
    
        i {
            border-color: $def;
        }
    }
}

.arrow-button {
    @include set-arrow-size(50px);
    @include set-arrow-color();
}

.left-arrow {
    i {
        margin-left: 14%;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}

.right-arrow {
    i {
        margin-right: 14%;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}