include ../../components/buttons/arrow-button/arrow-button

mixin pizza
  .pizza
    .pizza__name
    .pizza__info
      .pizza__img
        img(alt='pizza')
      .pizza__rating Rating
        .pizza__circle
          .circle
            .circle-text
        .pizza__arrows
          +arrow-button('left')
          +arrow-button('right')
    .pizza__ing
      .pizza__li
      .pie


