.pizza {
  margin: auto;
  max-width: 40.625rem;
  
  &__name {
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 1rem;
  }

  &__img {
    img {
      width: 100%;
      max-width: 26.25rem;
      border: 0.0625rem solid #c5b18d;
    }
  }

  &__info {
    display: flex;
    justify-content: center;

    .pizza__circle {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__rating {
    padding: 1rem;
    padding-top: 0;
    font-size: 1.5rem;
  }


  &__arrows {
    display: flex;
    .arrow-button {
      margin-left: 0.5rem;
    }
  }

  &__ing {
    display: flex;
    margin-top: 2%;
    justify-content: left;
  }

  &__li {
    margin-right: 5%;
    text-align: left;
  }

}

@media screen and (max-width: 31.25rem) {
  .pizza {
    &__info {
      font-size: 1rem;
    }

    &__name,  {
      font-size: 1.2rem;
    }

    &__li {
      font-size: 0.75rem;
    }
  }
}