mixin pizza
  .pizza
    .pizza__name
    .pizza__info
      .pizza__img
        img
      .pizza__rating Rating
        .circle
          .circle-text
        .pizza__arrows
          +arrow-button('left')
          +arrow-button('right')
    .pizza__ing
      .pizza__li
      .pie


