mixin pizza
  .pizza-cont
    .pizza-name
    .pizza-info
      .pizza-img
        img
      .pizza-rating Rating
        .circle
          .circle-text
        .pizza-arrows
          +arrow-button('left-arrow')
          +arrow-button('right-arrow')
    .pizza-ing
      .pizza-ing-li
      .pie


