.pizza-cont {
    width: 60%;
    margin: auto;

    .pizza-name {
        font-size: 1.7em;
        text-transform: uppercase;
        padding: 1em;
    }

    .pizza-img {
        display: inline-block;
    }

    .pizza-info {
        display: flex;

        .pizza-rating {
            padding: 1em;
            padding-top: 0;
            font-size: 1.5em;
        }

        .circle {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .pizza-arrows {
            .arrow-button {
                margin-left: 0.5em;
            }
        }
    }

    .pizza-rating {
        margin-left: 1em;
    }

    .pizza-ing {
        display: flex;
        margin-top: 2%;

        .pizza-ing-li {
            margin-right: 5%;
            text-align: left;
        }
    }

    img {
        max-width: 400px;
        max-height: 400px;
        border: 1px solid #c5b18d;
    }

}