include ../../components/buttons/arrow-button/arrow-button
include ../../components/chart/chart

mixin pizza
  article.pizza
    header.pizza__name
    section.pizza__info
      img(alt='pizza').pizza__image
      .pizza__rating Rating
        .pizza__circle
          +chart
        .pizza__arrows
          +arrow-button({direction:'left'})
          +arrow-button({direction:'right'})
    section.pizza__ingredients
      .pizza__li
      .pie


