.news,
.event-news {
  display: inline-block;
  color: $white;
  width: 22.5rem;
  height: 16.5625rem;
  text-align: center;
  border-radius: 0.4rem;
  overflow: hidden;
}

.news::after,
.event-news::after {
  content: '';
  clear: both;
  display: table;
}

.news__image {
  float: left;
  width: 33%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.news__text {
  text-align: left;
  font-size: 0.8rem;
}

.news__content-wrapper {
  padding: 10%;
  padding-bottom: 0;
}

.news__content {
  float: left;
  width: 65%;
  height: 100%;
}

.news {
  background-color: $light-orange;

  .news__title {
    font-size: 2.2rem;
    line-height: 1.95rem;
    margin-bottom: 8%;
    text-align: left;
    margin-top: 2%;
  }

  .news__date {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 9.5%;
  }
}

.event-news {
  background-color: $light-green;

  .news__content-wrapper {
    padding-top: 0;
  }

  .news__date {
    margin-bottom: 4%;
  }

  .news__day {
    font-size: 6rem;
    margin-right: 4%;
  }

  .news__month {
    font-size: 2rem;
  }

  .news__title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5%;
    text-align: left;
  }

  .news__text {
    margin-bottom: 10%;
  }

  .news__button {
    .button {
      font-size: 0.8rem;
      width: 90%;
      height: 2rem;
      margin-bottom: 19%;
    }
  }
}
