.news-1, .news-2 {
    color: $white;
    width: 435px;
    height: 322px;
    text-align: center;
    border-radius: 0.4em;
    overflow: auto;
}
  
.news-1::after, .news-2::after {
    content: "";
    clear: both;
    display: table;
}
  
.news-left {
    float: left;
    width: 35%;
    height: 100%;
    background-repeat: no-repeat;
    //background-size: contain;
    background-size: auto 100%;
    background-position: center; 
}

.news-text {
    text-align: left;
}

.news-cont {
    padding: 10%;
    padding-bottom: 0;
}

.news-right {
    float: left;
    width: 65%;
    height: 100%;
}

.news-1 {
    background-color: $light-orange;

    .news-title {
        font-size: 2.8em;
        line-height: 0.9;
        margin-bottom: 8%;
        text-align: left;
        margin-top: 2%;
    }

    .news-date {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 8%;
    }    

}

.news-2 {
    background-color: $light-green;

    .news-date {
        margin-bottom: 8%;
    }

    .news-date-day {
        font-size: 6em;
        margin-right: 4%;
    }

    .news-date-month {
        font-size: 2em;
    }

    .news-title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5%;
        text-align: left;
    }    

    .news-text {
        margin-bottom: 10%;
    }

    .button {
        font-size: 1em;
        width: 90%;
    }
}