extends ../../layout

include ../../composite/contact/contact

block head
  title Contact

block content
  main.content
    +contact({profiles: [
              {
                type:'grey',
                selected: true,
                name:'Billy Bob', 
                occupation:'Official mascot', 
                image:'images/billybob.jpg'
              }, 
              {
                type:'green',
                name:'Ricardo Milos', 
                occupation:'Pizza boy', 
                image:'images/ricardo.jpg'
              }
            ]})