.contact {
  &__title {
    text-align: left;
  }

  &__content {
    display: flex;
  }

  &__profiles {
    margin-right: 5%;
  }

  .profile {
    margin-bottom: 5%;
    padding: 3%;
    cursor: pointer;

    &_selected {
      background: darken($light-yellow, 7%);
      border-radius: 0.4rem;
    }
  }
}

@media screen and (max-width: 50rem) {
  .contact {
    &__content {
      flex-direction: column;
    }

    &__chat {
      margin: auto;
    }
  }
}
