extends ../../layout

block head
  title Contact

block content
  .contact
    h2.contact__title Contacts:
    .contact__content
      .contact__profiles
        +profile('type-1 profile_selected', {
              name:'Billy Bob', 
              occupation:'Official mascot', 
              src:'images/billybob.jpg'
        })
        +profile('type-2', {
              name:'Ricardo Milos', 
              occupation:'Pizza boy', 
              src:'images/ricardo.jpg'
            })
  
      .contact__chat
        +chat({name:'Billy Bob', image:'images/billybob.jpg'})