@import '../../partials/mixins';
@import '../../partials/defaults';

#content {
    text-align: left;
}

#contact-cont {
    display: flex;

    #contacts {
        margin-right: 5%;
    }
}

#chat-cont {
    .chat {
        margin: auto;
    }
}

.profile {
    margin-bottom: 5%;
    padding: 3%;
    cursor: pointer;
}

.selected-contact {
    background: darken($light-yellow, 7%);
    border-radius: 0.4em;
}

@media screen and (max-width: 800px) { 
    #contact-cont {
        flex-direction: column;
    }
}