@import '../../partials/mixins';
@import '../../partials/defaults';

#content {
  text-align: left;
}

#contact-cont {
  display: flex;

  #contacts {
    margin-right: 5%;
  }
}

#chat-cont {
  .chat {
    margin: auto;
  }
}

.profile {
  margin-bottom: 5%;
  padding: 3%;
  cursor: pointer;
}

.profile_selected {
  background: darken($light-yellow, 7%);
  border-radius: 0.4rem;
}

@media screen and (max-width: 50rem) { 
  #contact-cont {
    flex-direction: column;
  }
}