//$white: #FFFFFF;
$white: #F5F5F5;
$light-yellow: rgb(247, 236, 219);
$black: #303030;
//$light-green: #4EB7A8;
//$medium-green: #46ab9d;
$light-green: #68BB68;
$medium-green: #006500;
$light-grey: #D2D2D2;
$medium-grey: #A6A6A6;
$dark-grey: #747474;
//$light-orange: #E75637;
$light-orange: #d28847;
//#90EE90;