//$white: #FFFFFF;
$white: #F5F5F5;
$light-yellow: #F9F9DF;
$black: #303030;
//$light-green: #4EB7A8;
//$medium-green: #46ab9d;
$light-green: #68BB68;
$medium-green: #006500;
$light-grey: #D9D9D9;
$medium-grey: #C6C6C6;
$dark-grey: #747474;
//$light-orange: #E75637;
$light-orange: #d28847;
//#90EE90;