//$white: #FFFFFF;
$white: #F5F5F5;
$light-yellow: #F9F9DF;
//$light-green: #4EB7A8;
//$medium-green: #46ab9d;
$light-green: #68BB68;
$medium-green: #006500;
$light-grey: #E6E6E6;
$medium-grey: #969696;
$dark-grey: #747474;
//$light-orange: #E75637;
$light-orange: rgb(216, 141, 76);
//#90EE90;