body {
    margin: 0;
}

#content {
    margin: auto;
    width: 70%;
    text-align: center;
}

#standard-buttons {
    
}

#standard-buttons .button {
    margin-left: 20px;
}

#arrow-buttons {

}

#arrow-buttons .arrow-button {
    margin-left: 20px;
}

#percentages {

}

#sliders {

}

#stages {

}