body {
    margin:0;
    color: #252525;
    background: $light-yellow;
    font-family: $font;
    letter-spacing: 1px;


    h1, h2 {
        font-family: $font-bold;
        word-spacing: 5px;
    }  

    a {
        text-decoration: none;
        color: #006000;
    }

    a:hover {
        color: #008500;
    }

    hr {
        height: 1px;
    }
}

html,
body {
  height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    padding: 1%;
    background: wheat;
    margin-bottom: 2%;
    border-bottom: 1px solid #D5C19D;
}

nav {
    padding-left: 2%;
    padding-bottom: 2%;
    border-bottom: 1px #E0E0E0 solid;

    #nav-links {
        display: inline-block;
        //border: 1px solid $light-grey;
    }
    
    a {
        display: inline-block;
        min-width: 50px;
        color: black;
        font-family: $font-bold;
        text-align: center;
        padding: 0.5em;
        text-decoration: none;
    }

    a:hover {
        background: white;
    }

    .search {
        margin-left: 2em;
    }
}

#content {
    margin: auto;
    width: 90%;
    text-align: center; 
}

footer {
    margin-top: 2%;
    padding: 2%;
    border-top: 1px solid #D5C19D;
    text-align: center;

    a {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}