$white: #f5f5f5;
$light-yellow: #f7ecdb;
$black: #303030;
$light-green: #68bb68;
$medium-green: #006500;
$light-grey: #d2d2d2;
$medium-grey: #a6a6a6;
$dark-grey: #747474;
$light-orange: #d28847;

$font: 'myriad-pro', Arial;
