extends ../../layout

include ../../composite/order/order

block head
  title Order

block content
  main.content.content_centered
    +order({
      menu: {name:'pizza', options:['Pepperoni', 'Cheesy Crust', 'Vegetarian']},
      special: {name: 'Special sauce', toggle: {name:'sauce', value:'yep'}},
      stage: {steps:['@Choose a pizza', 'Select options', 'Enter your address', 'All done!']},
      crustOptions: [{name:'crust', type:'radio', value:'thin', label:'Thin'}, {name:'crust', type:'radio', value:'standard', label:'Standard'}]
    })

