extends ../../layout

include ../../composite/order/order

block head
  title Order

block content
  +order({
    menu: {name:'pizza', options:['Pepperoni', 'Cheesy Crust', 'Vegetarian']},
    special: {name: 'Special sauce', toggle: {name:'sauce', value:'yep'}},
    crustOptions: [{name:'crust', type:'radio', value:'thin', label:'Thin'}, {name:'crust', type:'radio', value:'standard', label:'Standard'}]
  })

