.order {
  padding-top: 3%;
  display: flex;
  justify-content: space-evenly;

  @include set-dropdown-width(11.875rem);

  &__sauce {
    margin-bottom: 1rem;
  }

  .ui-switcher {
    margin-left: 1rem;
  }

  .checkmark {
    margin-right: 1rem;
  }

  &__address {
    input {
      max-width: 11.25rem;
    }
  }

  &__options,
  &__address,
  &__submit {
    visibility: hidden;
  }
}

.stage {
  .progressbar {
    li {
      color: #303030;
    }

    .current {
      font-weight: bold;
    }

    .current::before {
      background-color: $light-orange;
    }

    .done::before {
      background-color: $light-green;
    }

    .done::after {
      background-color: $light-green;
    }
  }
}

@media screen and (max-width: 51.25rem) {
  .order {
    margin-top: 2%;
    display: block;

    .dropdown,
    &__options,
    &__address,
    &__submit {
      margin-bottom: 5%;
    }
  }
}
