extends ../../layout

block head
  title Order

block content
  .order
    h2.order__title Order
    +stage
  
    form.order__form
      +dropdown({name:'pizza', options:['Pepperoni', 'Cheesy Crust', 'Vegetarian']})
    
      .order__options
        .order__sauce
          | Special sauce:
          +toggle({name:'sauce', value:'yep'})
  
        .order__crust
          +checkmark({name:'crust', type:'radio', value:'thin', label:'Thin'})
          +checkmark({name:'crust', type:'radio', value:'standard', label:'Standard'})
  
      .order__address
        input.order__input(name='address', placeholder='Address')
        .status__bubble
  
      .order__submit
        input(type='submit', value='SUBMIT', class='button button_small button_green')
