.stage {
  .progressbar {
    li {
      color: #303030;
      font-size: 1rem;
      z-index: 0;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .current {
      font-weight: bold;
    }

    .current:before {
      background-color: $light-orange;
    }

    .done::before,
    .current::before,
    li::before {
      width: 2.25rem;
      height: 2.25rem;
      line-height: 2.2rem;
      font-weight: bold;
    }

    li::after {
      height: 0.6rem;
    }

    .done::before {
      background-color: $light-green;
    }

    .done:after {
      background-color: #68bb68;
    }

    &:after {
      height: 0.4375rem;
      top: 1.125rem;
      background-color: $light-orange;
    }

    .done:before {
      background-color: $light-green;
    }

    .done:after {
      background-color: $light-green;
    }
  }
}

@media screen and (max-width: 51.25rem) {
  .stage {
    .progressbar {
      li {
        font-size: 0.75rem;
      }

      .done::before,
      .current::before,
      li::before {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.9;
      }

      li::after {
        top: 0.5rem;
      }
    }
  }
}
