mixin video({src = '', type = 'video/mp4'} = {})
  .video
    video
      source(src = src, type = type)
    .video__controls
      .video__play-button.video__play-button_play
      .video__progress
      .video__fullscreen
