mixin video(src, type="video/mp4")
  video(class='video', width="720px", height="420px")
    source(src=src, type=type)
  .controls
    button.play
      i(class='fa fa-play')
    button.fullscreen
      i(class='fa fa-arrows-alt')
    //i(class='fa fa-pause')