mixin video(src, type="video/mp4")
  .video
    video
      source(src=src, type=type)
    .video__controls
      .video__play
        button
          i(class='fa fa-play')
      .video__progress
      .video__fullscreen
        button
          i(class='fa fa-arrows-alt')
