.video {
  //to fully wrap the video, works in Chrome and Firefox
  display: inline-grid;
  width: 100%;
  max-width: 47.5rem;
  position: relative;
  border-radius: 0.2rem;
  overflow: hidden;

  video {
    width: 100%;
  }

  &__controls {
    background: rgba($color: black, $alpha: 0.35);
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  &__progress {
    width: 100%;
    height: 0.3rem;
    border: none;
    cursor: pointer;

    .ui-widget-header {
      background: $light-orange;
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default {
      display: none;
    }
  }

  @mixin button($color, $font-size, $font-color: $white) {
    .video__button {
      border: none;
      color: $white;
      background: $color;
      text-align: center;
      border: none;
      cursor: pointer;
      width: 100%;
      padding: 1.5rem;
      i {
        font-size: $font-size;
        color: $font-color;
      }
    }
  }

  &__play {
    @include button(black, 1.6rem);
    margin-right: 2%;
  }

  &__fullscreen {
    @include button($light-orange, 1.6rem);
    margin-left: 2%;
  }
}

@media screen and (max-width: 46.875rem) {
  .video {
    &__play,
    &__fullscreen {
      .video__button {
        i {
          font-size: 0.9rem;
        }

        padding: 0.6rem;
      }
    }
  }
}
