mixin video(src, type="video/mp4")
  .video
    video
      source(src=src, type=type)
    .controls
      .play
        button
          i(class='fa fa-play')
      .video-progress
      .fullscreen
        button
          i(class='fa fa-arrows-alt')
