include ../../components/bubble/bubble
include ../../components/map/map
include ../../components/video/video
include ../../components/dropdown/dropdown
include ../../components/button/button
include ../../components/arrow-button/arrow-button
include ../../components/checkmark/checkmark
include ../../components/toggle/toggle
include ../../components/chart/chart
include ../../components/pie-chart/pie-chart
include ../../components/stage/stage
include ../../components/search/search
include ../../components/datepicker/datepicker
include ../../components/standard-heading/standard-heading

include ../profile/profile
include ../message-form/message-form
include ../news/news
include ../chat/chat
include ../slider/slider
include ../steps-slider/steps-slider
include ../comment/comment

mixin ui(args = {})
  - const {
  -   buttons = [], 
  -   arrowButtons = [], 
  -   charts = [], 
  -   pieChart = {},
  -   slider = {}, 
  -   stepsSlider = {}, 
  -   dropdown = {}, 
  -   toggles = [], 
  -   checkmarks = [], 
  -   profiles = [], 
  -   news = {}, 
  -   eventNews = {}, 
  -   map = {}, 
  -   chat = {}, 
  -   video = {}
  - } = args
  article.ui
    .ui__wrapper
      .ui__content
        +standard-heading({text:'STANDARD BUTTONS'})
        .ui__button-content
          each row in buttons
            .ui__button-row
              each button in row
                .ui__button
                  +button(button)
        
        +standard-heading({text:'ARROW BUTTONS'})
        .ui__arrow-button-content
          each arrowButton in arrowButtons
            +arrow-button(arrowButton)
      
        +standard-heading({text:'PERCENTAGES / PIE CHART'})
        .ui__percentage-content
          each chart in charts
            +chart(chart)
          +pie-chart(pieChart)
      
        .ui__slider-heading 
          +standard-heading({text:'SLIDERS'})
        .ui__slider-content
          .ui__slider
            +slider(slider)
          .ui__steps-slider  
            +steps-slider(stepsSlider)
      
        +standard-heading({text:'STAGES'})
        .ui__stage-content
          +stage
      
        +standard-heading({text:'FORM ELEMENTS'})
        .ui__row
          .ui__column
            .ui__message-form
              +message-form
            .ui__search-heading 
              +standard-heading({text:'SEARCH / DROP DOWN'})
            .ui__search-content
              .ui__search
                +search
              .ui__search
                +search({value:'!invalid!'})
              .ui__search
                +dropdown(dropdown)
          .ui__column
            .ui__toggle-heading 
              +standard-heading({text:'TOGGLES'})
            .ui__toggle-content
              each toggle in toggles
                .ui__toggle
                  +toggle(toggle)
            +standard-heading({text:'TICK BOXES'})
            .ui__checkmark-content
              each checkmark in checkmarks
                .ui__checkmark
                  +checkmark(checkmark)
              
            +standard-heading({text:'USER PROFILE'})
            .ui__profile-container
              each profile in profiles
                .ui__profile
                  +profile(profile)
      

        .ui__news-heading 
          +standard-heading({text:'NEWS & EVENTS'})
        .ui__news-content
          .ui__news-item
            +news(news)
  
          .ui__news-item
            +news(eventNews)
      
        .ui__map-heading 
          +standard-heading({text:'LOCATION'})
        .ui__map-content
          +map(map)
        .ui__row
          .ui__column
            +standard-heading({text:'CALENDAR'})
            .ui__calendar
              +datepicker
          .ui__column
            +standard-heading({text:'MESSAGING'})
            .ui__chat
              +chat(chat)
        .ui__video-heading 
          +standard-heading({text:'VIDEO'})
        .ui__video
          +video(video)
          