include ../../components/bubble/bubble
include ../../components/map/map
include ../../components/video/video
include ../../components/dropdown/dropdown
include ../../components/button/button
include ../../components/arrow-button/arrow-button
include ../../components/checkmark/checkmark
include ../../components/toggle/toggle
include ../../components/chart/chart
include ../../components/pie-chart/pie-chart
include ../../components/stage/stage
include ../../components/search/search
include ../../components/datepicker/datepicker

include ../profile/profile
include ../message-form/message-form
include ../news/news
include ../chat/chat
include ../slider/slider
include ../steps-slider/steps-slider
include ../comment/comment

mixin ui(args = {})
  - const {
  -   buttons = [], 
  -   arrowButtons = [], 
  -   charts = [], 
  -   pieChart = {},
  -   slider = {}, 
  -   stepsSlider = {}, 
  -   dropdown = {}, 
  -   toggles = [], 
  -   checkmarks = [], 
  -   profiles = [], 
  -   news = {}, 
  -   eventNews = {}, 
  -   map = {}, 
  -   chat = {}, 
  -   video = {}
  - } = args
  article.ui
    .ui__wrapper
      .ui__content
        h2.ui__title STANDARD BUTTONS
        .ui__button-content
          each row in buttons
            .ui__button-row
              each button in row
                .ui__button
                  +button(button)
        
        h2.ui__title ARROW BUTTONS
        .ui__arrow-button-content
          each arrowButton in arrowButtons
            +arrow-button(arrowButton)
      
        h2.ui__title PERCENTAGES / PIE CHART
        .ui__percentage-content
          each chart in charts
            +chart(chart)
          +pie-chart(pieChart)
      
        h2.ui__title.ui__title_slider SLIDERS
        .ui__slider-content
          .ui__slider
            +slider(slider)
          .ui__steps-slider  
            +steps-slider(stepsSlider)
      
        h2.ui__title STAGES
        .ui__stage-content
          +stage
      
        h2.ui__title FORM ELEMENTS
        .ui__row
          .ui__column
            .ui__message-form
              +message-form
            h2.ui__title.ui__title_search SEARCH / DROP DOWN
            .ui__search-content
              .ui__search
                +search
              .ui__search
                +search({value:'!invalid!'})
              .ui__search
                +dropdown(dropdown)
          .ui__column
            h2.ui__title.ui__title_toggle TOGGLES
            .ui__toggle-content
              each toggle in toggles
                .ui__toggle
                  +toggle(toggle)
            h2.ui__title TICK BOXES
            .ui__checkmark-content
              each checkmark in checkmarks
                .ui__checkmark
                  +checkmark(checkmark)
              
            h2.ui__title USER PROFILE
            .ui__profile-container
              each profile in profiles
                .ui__profile
                  +profile(profile)
      

        h2.ui__title.ui__title_news NEWS & EVENTS
        .ui__news-content
          .ui__news-item
            +news(news)
  
          .ui__news-item
            +news(eventNews)
      
        h2.ui__title.ui__title_map LOCATION
        .ui__map-content
          +map(map)
        .ui__row
          .ui__column
            h2.ui__title CALENDAR
            .ui__calendar
              +datepicker
          .ui__column
            h2.ui__title MESSAGING
            .ui__chat
              +chat(chat)
        h2.ui__title.ui__title_video VIDEO
        .ui__video
          +video(video)
          