.ui {
  text-align: center;

  &__content {
    width: 54.8rem;
    margin: auto;
    padding-top: 5rem;
    border: 0.1rem #bbb solid;
  }

  &__row {
    width: 100%;
  }

  &__row::after {
    content: '';
    clear: both;
    display: table;
  }

  &__column {
    float: left;
    width: 48.3%;
  }

  &__buttons {
    margin-top: 5.5rem;
    margin-bottom: 4.3rem;
  }

  &__button-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1.65rem;
  }

  &__button {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__arrow-buttons {
    display: flex;
    padding-left: 10.8rem;
    margin-top: 2.7rem;
    margin-bottom: 3rem;
  }

  &__arrow-button-group {
    display: flex;
    margin-right: 1.6rem;
  }

  &__arrow-button {
    &:first-child {
      margin-right: 1.7rem;
    }
  }

  &__percentages {
    display: flex;
    margin-top: 1.8rem;
    margin-bottom: 2.2rem;
    padding-left: 3.6rem;
  }

  &__percentage {
    &:first-child {
      margin-left: 0;
    }
    &:nth-child(2) {
      margin-left: 1.1rem;
    }
    &:last-child {
      margin-left: 2.3rem;
    }
    margin-left: 2.8rem;
  }

  &__slider-heading {
    margin-bottom: 0;
  }

  &__sliders {
    text-align: left;
    margin-bottom: 2.5rem;
    padding-top: 0.7rem;
    padding-left: 3.2rem;
  }

  &__slider {
    display: inline-block;
    margin-right: 5.7rem;
  }

  &__steps-slider {
    display: inline-block;
  }

  &__stage {
    margin-top: 1.9rem;
    margin-bottom: 1.7rem;
  }

  &__message-form {
    margin-top: 1.7rem;
    margin-left: 4rem;
    margin-bottom: 5rem;
  }

  &__toggle-heading {
    padding-top: 0.8rem;
  }

  &__toggles {
    text-align: left;
    margin-top: 2.3rem;
    margin-bottom: 2.8rem;
    margin-left: 7.65rem;
  }

  &__toggle {
    display: inline-block;
    margin-right: 1.2rem;
  }

  &__checkmarks {
    text-align: left;
    padding-left: 10.3rem;
    margin-bottom: 7.2rem;
    margin-top: 2.4rem;
  }

  &__checkmark {
    display: inline-block;
    margin-right: 0.9rem;
  }

  &__search-heading {
    padding-left: 3.5rem;
  }

  &__searches {
    padding-top: 0.2rem;
    padding-left: 4.05rem;
  }

  &__search {
    text-align: left;
    margin-bottom: 1.4rem;
  }

  &__profiles {
    margin-top: 1.7rem;
  }

  &__profile {
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 2.3rem;
  }

  &__news-heading {
    margin-top: 5.7rem;
    margin-bottom: 1.6rem;
  }

  &__news-content {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  &__news-item {
    margin: 0.8rem;
    margin-top: 0.9rem;
  }

  &__map-heading {
    margin-bottom: 2.35rem;
  }

  &__map {
    margin-bottom: 2.3rem;
  }

  &__calendar {
    margin-top: 1.8rem;
    margin-left: 3.8rem;
  }

  &__chat {
    text-align: left;
    margin-top: 1.8rem;
    margin-left: 1.6rem;
  }

  &__video-heading {
    margin-top: 3.7rem;
    margin-bottom: 1.7rem;
  }

  &__video {
    margin-bottom: 8.8rem;
  }
}
