.stage {
  .progressbar {
    li {
      font-size: 1rem;
    }

    li::after {
      height: 0.4375rem;
      top: 1.125rem;
    }

    .done::before, .current::before, li::before {
      width: 2.25rem;
      height: 2.25rem;
      line-height: 2.2;
      font-family: $font-bold;
    }

    .done::before, .current::before {
      background-color: $light-orange;
    }

    .done::after {
      background-color: $light-orange;
    }
  }

}

@media screen and (max-width: 51.25rem) {
  .stage {
      .progressbar {
        li {
          font-size: 0.75rem;
        }

        .done::before, .current::before, li::before {
          width: 1.5rem;
          height: 1.5rem;
          line-height: 1.9;
        }

        li::after {
          top: 0.5rem;
        }
      }
  }
}