mixin arrow-button({direction = 'left', disabled = false} = {})
  div(class = disabled ? `arrow-button arrow-button_${direction} arrow-button_disabled` : `arrow-button arrow-button_${direction}`)
    i.arrow-button__arrow