mixin search({value = '', placeholder = 'Search'} = {})
  fieldset.search.js-search
    input.search__input.js-search__input(name = 'search', value = value, placeholder = placeholder)
    button(type = 'submit').search__button
      i.search__icon(class = 'fa fa-search')