.search {
  border-width: 0;
  margin: 0;
  padding: 0;

  &__input,
  &__button {
    padding: 0.6rem 0.8rem;
    margin: 0;
    border: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  &__input {
    background: $light-grey;
    width: 18.4rem;
  }

  &__button {
    background: $light-orange;
    cursor: pointer;
    border-radius: 0px 0.2rem 0.2rem 0;
  }

  &__icon {
    font-size: 0.875rem;
    color: $white;
  }

  &_invalid {
    color: white;
    background: $light-orange;
  }
}

@media screen and (max-width: 850px) {
  .search {
    &__input {
      width: 8.4rem;
    }
  }
}
