$pointer-size: 15px;
$bubble-color: $light-orange;

.bubble { 
    position: relative; 
    background: $light-orange; 
    border-radius: .4em; 
    &:after { 
        content: ''; 
        position: absolute; 
        width: 0; 
        height: 0; 
        border: $pointer-size solid transparent; 
    }
} 

.top-bubble {
    @extend .bubble;
    margin-top:$pointer-size;
    
    &:after {
        top: 0; 
        left: 50%; 
        border-bottom-color: $bubble-color; 
        border-top: 0; 
        margin-left: -$pointer-size; 
        margin-top: -$pointer-size;
    }
}

.bottom-bubble {
    @extend .bubble;
    margin-bottom:$pointer-size;

    &:after {
        bottom: 0; 
        left: 50%; 
        border-top-color: $bubble-color; 
        border-bottom: 0; 
        margin-left: -$pointer-size; 
        margin-bottom: -$pointer-size;
    }
}

.left-bubble {
    @extend .bubble;
    margin-left:$pointer-size;

    &:after {
        left: 0; 
        top: 50%; 
        border-right-color: $bubble-color;
        border-left: 0; 
        margin-top: -$pointer-size; 
        margin-left: -$pointer-size;
    }
}

.right-bubble {
    @extend .bubble;
    margin-right:$pointer-size;

    &:after {
        right: 0; 
        top: 50%; 
        border-left-color: $bubble-color; 
        border-right: 0; 
        margin-top: -$pointer-size; 
        margin-right: -$pointer-size;
    }
}