@mixin set-bubble-color($color, $dir) {
  background: $color;

  @if ($dir == left) {
    &:after {
      border-right-color: $color;
    }
  }

  @if ($dir == right) {
    &:after {
      border-left-color: $color;
    }
  }

  @if ($dir == top) {
    &:after {
      border-bottom-color: $color;
    }
  }

  @if ($dir == bottom) {
    &:after {
      border-top-color: $color;
    }
  }
}

%comment-bubble {
  padding: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  text-align: left;
}
