mixin toggle({name = 'toggle', id = '', checked = false, value = 'value'} = {})
  label.toggle
    input.toggle__checkbox(type = 'checkbox', id = id, name = name, value = value checked = checked)
    .toggle__switch
    span.toggle__label
