include components/buttons/standard/button
include components/buttons/arrow/button
include components/progress/slider/slider
include components/progress/sliderval/slider
include components/bubble/bubble
include components/progress/stage/stage
include components/progress/chart/chart
include components/input/checkbox/checkbox
include components/input/toggle/toggle
include components/input/text/text
include components/input/textarea/textarea

include composite/profile/profile
include composite/search/search
include composite/dropdown/dropdown
include composite/forms/message-form/message-form

doctype html

hmtl(lang='en')
  head
    meta(charset='utf-8')
    title UI page
  body
    #content
      h2 STANDARD BUTTONS
      #standard-buttons
        +standard_button('small-green-button') 
          | button
        +standard_button('big-green-button') 
          | button
        +standard_button('big-orange-button')
          | button
        +standard_button('small-orange-button')
          | button
      
      h2 ARROW BUTTONS
      #arrow-buttons
        +arrow_button('left-arrow')
        +arrow_button('right-arrow')

      h2 PERCENTAGES/PIE CHART
      #percentages
        .circle
          .circle-text
  
        .pie

      h2 SLIDERS
      .row
        .left
          div
            +slider('50')

        .right
          div
            +sliderval('40')

      div
        //+bubble('top-bubble')
        //  h2 WEIRD
        //+bubble('right-bubble', {width:'100px', height:'100px'})

      h2 STAGES
      +stage(['one', 'two', 'three', 'four', 'five'])

      h2 FORM ELEMENTS
      .row
        .left
          div(style='text-align:left')
            +message-form
          h2 SEARCH/DROP DOWNS
            +search
            br
            +dropdown

        .right

          h2 TOGGLES
          div
            +toggle('test', 'test')

          h2 TICK BOXES
          div
            +checkbox('test')
          //i(class='fa fa-search', style='color:grey;font-size:2em')
          //+avatar()

          h2 PROFILES
          +profile('profile-1', {
            name:'Ricardo Milos', 
            occupation:'FleXx CEO', 
            src:'https://m-ch.ml/rand/rB/18.jpeg'
          })

          +profile('profile-2', {
            name:'Orang', 
            occupation:'Home Inspector', 
            src:'https://vignette.wikia.nocookie.net/surrealmemes/images/8/88/Orang_Transparent.png/revision/latest?cb=20181230153623'
          })

      h2 NEWS & EVENTS
      .row
        .left
          h2 left

        .right
          h2 right

      h2 LOCATION

      .row
        .left
          h2 CALENDAR

        .right
          h2 MESSAGING

      h2 VIDEO

        
