include layout/footer/footer
include layout/header/header
include layout/navigation/navigation

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0', width='device-width')
    meta(name='description' content='Basically, this is a website.')
    meta(name='keywords' content='HTML, CSS, JavaScript')
    
    link(rel='apple-touch-icon' sizes='152x152' href='/ui/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='ui/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/ui/favicon/favicon-16x16.png')
    link(rel='manifest' href='/ui/favicon/site.webmanifest')
    link(rel='mask-icon' href='/ui/favicon/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='shortcut icon' href='/ui/favicon/favicon.ico')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-config' content='/ui/favicon/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')
    block head
      title Papa Bear's
  body
    .wrapper
      +header
      +navigation([
        {text:'Home', href:'index.html'}, 
        {text:'Gallery', href:'gallery.html'},
        {text:'Order', href:'order.html'},
        {text:'Feedback', href:'feedback.html'},
        {text:'Contact', href:'contact.html'},
        {text:'UI', href:'ui.html'}
      ])
  
      main.content
        block content
      +footer([{text:'Home', href:'index.html'}, {text:'Sponsors'}, {text:'Stuff'}, {text:'About'}])
