include components/bubble/bubble
include components/map/map
include components/video/video
include components/dropdown/dropdown
include components/buttons/standard-button/standard-button
include components/buttons/arrow-button/arrow-button
include components/input/checkmark/checkmark
include components/input/toggle/toggle
include components/input/text/text
include components/input/textarea/textarea
include components/chart/chart

include composite/profile/profile
include composite/search/search
include composite/message-form/message-form
include composite/news/news
include composite/chat/chat
include composite/slider/slider
include composite/comment/comment

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0', width='device-width')
    meta(name='description' content='Basically, this is a website.')
    meta(name='keywords' content='HTML, CSS, JavaScript')
    
    link(rel='apple-touch-icon' sizes='152x152' href='/ui/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='ui/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/ui/favicon/favicon-16x16.png')
    link(rel='manifest' href='/ui/favicon/site.webmanifest')
    link(rel='mask-icon' href='/ui/favicon/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='shortcut icon' href='/ui/favicon/favicon.ico')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-config' content='/ui/favicon/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')
    
    block head
      title Papa Bear's
  body
    .wrapper
      header.header
        a(href='index.html')
          img(src='images/logo.png', alt='logo.png')  
      nav.navigation
        .navigation__links
          a(href='index.html') Home
          a(href='gallery.html') Gallery
          a(href='order.html') Order
          a(href='feedback.html') Feedback
          a(href='contact.html') Contact
          a(href='ui.html') UI
        +search
  
      main.content
        block content
      footer.footer
        a(href='/ui/').footer__link Home
        | |
        a(href='blank.html').footer__link Sponsors
        | |
        a(href='blank.html').footer__link Stuff
        | |
        a(href='blank.html').footer__link About
