include components/bubble/bubble
include components/map/map
include components/video/video

include components/buttons/standard/button
include components/buttons/arrow/button

include components/progress/slider/slider
include components/progress/stage/stage

include components/input/checkmark/checkmark
include components/input/toggle/toggle
include components/input/text/text
include components/input/textarea/textarea

include composite/profile/profile
include composite/search/search
include composite/dropdown/dropdown
include composite/forms/message-form/message-form
include composite/news/news
include composite/chat/chat

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title UI page
  body
    #header
      .header-item
        h1 Bob's Wacky Pizza
    #nav
      #nav-links
        a(href='/') Home
        a(href='/menu.html') Menu
        a(href='/order.html') Order
        a(href='/feedback.html') Feedback
        a(href='/contact.html') Contact
        a(href='/ui.html') UI
      +search
    #content
      block content
    #footer
      h1 Lele le