include components/bubble/bubble
include components/map/map
include components/video/video

include components/buttons/standard/button
include components/buttons/arrow/button

include components/progress/slider/slider
include components/progress/stage/stage
include components/progress/chart/chart

include components/input/checkmark/checkmark
include components/input/toggle/toggle
include components/input/text/text
include components/input/textarea/textarea
include components/svg/svg

include composite/profile/profile
include composite/search/search
include composite/dropdown/dropdown
include composite/forms/message-form/message-form
include composite/news/news
include composite/chat/chat

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title UI page
  body
    .header
      h1 Kek Pok
      +svg
    block content
    .footer
      h1 Lele lel