//$map-width: 100%;

.map {
    width: 100%;
    max-width: 720px;
    max-height: 340px;
    position: relative;
    border-radius: 0.4em;
    overflow: hidden;
    
    &__info {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: $white;
        background: $light-orange;
        z-index: 2;
        height: 25%;
        display: flex;
        align-items: center;
    }

    
    &__title, &__address {
        display: inline-block;
    }

    &__title {
        font-size: 2.5em;   
        margin-right: 7%;
        margin-left: 7%;
    }

    &__address {
        font-size: 1em;
        text-transform: uppercase;
        font-family: $font-bold;
    }

    &__info-left {
        width: 50%;
        text-align: left;
    }

    &__info-right {
        font-size: 3em;
        text-align: right;
        width: 50%;
        i {
            font-size: 0.6em;
            margin-right: 1.2em;
        }
    }

}