mixin map(id, title, street, city)
  .map(id=id)
    .map__info     
      .map__info-left
        .map__title #{title}
        .map__address 
          | #{street}
          br
          | #{city}
      .map__info-right
        i(class="fa fa-bullseye")
        i(class="fa fa-map-marker")

