.footer {
  &__wrapper {
    margin-top: 2%;
    padding: 2%;
    border-top: 0.0625rem solid #d5c19d;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: #006000;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &__link:hover {
    color: #008500;
  }

  @media screen and (max-width: 31.25rem) {
    font-size: 0.75rem;
  }
}
