.profile {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    .bubble {
        width: 203px;
        line-height: 1.2;
        margin-left: 1em;
    }

    &__name {
        font-size: 24px;
        margin-top: 5.5%;
    }

    &__occupation {
        font-size: 0.9em;
        font-family: $font-bold;
        text-transform: uppercase;
    }

    &__icons {
        margin-top: 6.5%;
        font-size: 2em;
        text-align: center;

        i {
            margin-left: 9%;
        }

        i:last-child {
            margin-right: 9%;
        }

        i:first-child {
            margin-right: 2.5%;
        }
    }

}

.profile_type-1 {
    .bubble {
        @include set-bubble-color($light-grey, left);
    }

    .profile__name {
        color: $light-orange;
    }
    
    .profile__icons i {
        color: $medium-grey;
    }

    .profile__icons .fa-twitter {
        color: $light-orange;
    }
}

.profile_type-2 {
    color: $white;
    .bubble {
        @include set-bubble-color($light-green, left);
    }

}

@media screen and (max-width: 400px) {
    .profile {
        &__name {
            font-size: 1em;
        }
    
        &__occupation {
            font-size: 0.75em;
        }
    
        &__icons {
            font-size: 1.4em;
        }

        .bubble {
            width: 160px;
        }
    }
}