@import '../../components/bubble/mixins';

.profile {
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &__wrapper {
    display: inline-flex;
    align-items: center;
    padding: 2.5%;
  }

  .bubble {
    width: 14rem;
    margin-left: 1rem;
  }

  &__name {
    font-size: 1.5rem;
    margin-top: 0.7rem;
  }

  &__occupation {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__icons {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;

    i:first-child {
      margin-right: 1.5rem;
    }

    i:last-child {
      margin-left: 1.5rem;
    }
  }

  &_selected {
    background: darken($light-yellow, 7%);
    border-radius: 0.4rem;
  }
}

.profile_grey {
  .bubble {
    @include set-bubble-color($light-grey, left);
  }

  .profile {
    &__name {
      color: $light-orange;
    }

    &__icons i {
      color: $dark-grey;
    }

    &__icons .fa-twitter {
      color: $light-orange;
    }
  }
}

.profile_green {
  color: $white;
  .bubble {
    @include set-bubble-color($light-green, left);
  }
}

@media screen and (max-width: 25rem) {
  .profile {
    &__name {
      font-size: 1rem;
    }

    &__occupation {
      font-size: 0.75rem;
    }

    &__icons {
      font-size: 1.4rem;
    }

    .bubble {
      width: 10rem;
    }
  }
}
