include ../../components/bubble/bubble
include ../../components/avatar/avatar

mixin profile(className, data)
  div(class='profile ' + className)
    +avatar(data.src)
    +bubble('left-bubble')
      .profile-name #{data.name}
      .profile-occupation #{data.occupation}
      .profile-icons
        i(class='fa fa-facebook-f')
        i(class='fa fa-twitter')
        i(class='fa fa-dribbble')

    