include ../../components/bubble/bubble
include ../../components/avatar/avatar

mixin profile(type, data)
  div(class=`profile profile_${type}`)
    +avatar(data.src)
    +bubble('left')
      .profile__name #{data.name}
      .profile__occupation #{data.occupation}
      .profile__icons
        i(class='fa fa-facebook-f')
        i(class='fa fa-twitter')
        i(class='fa fa-dribbble')

    