@import '../../components/bubble/mixins';

.slider {
  display: inline-block;
  position: relative;
  width: 20rem;
  padding-bottom: 0.2rem;

  &__input {
    -webkit-appearance: none;
    width: 100%;
    height: 0.3rem;
    border-radius: 0.3125rem;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    background: $light-orange;
    cursor: pointer;
  }

  &__input::-moz-range-thumb {
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    background: $light-orange;
    cursor: pointer;
  }
}
