include ../../components/bubble/bubble
 
mixin slider({name = 'slider', value = 0, min = 0, max = 100} = {})
  .slider.js-slider
    .slider__wrapper
      .slider__bubble.js-slider__bubble
        +bubble({direction:'bottom', modifier:'with-label'})
      input.slider__input.js-slider__input(name = name, type = "range", value = value, min = min, max = max)
